/* fonts */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.cdnfonts.com/css/rajdhani");
.chosun {
  font-family: "Chosunilbo_myungjo";
}

/* reset */
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* container */
.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-color: #231f20;
}
.container::after {
  display: block;
  content: "";

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
  /*   원본 페이지 : https://www.rawlab.co */
}

/* header */
/* logo */
.main_header {
  position: fixed;
  width: 100%;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 100px 20px 100px;
  border-bottom: 1px solid rgba(222, 222, 222, 0.2);
  background-color: rgba(35, 31, 32, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1111;
}
.main_header .logo_container {
  flex: 3 0 0;
  display: flex;
  align-items: center;
}
.main_header .logo_container .logo_img {
  padding-left: 10px;
}
.main_header .logo_container .logo_tit {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
/* menu */
.main_header .top_menu {
  flex: 4 0 0;
  display: flex;
  align-items: center;
}
.main_header .top_menu .menu_list {
  margin: 0 auto;
}
.main_header .top_menu #lis_4 {
  padding-right: 0;
}
.main_header .top_menu .menu_list a {
  font-size: 18px;
  font-weight: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
/* header 오른쪽 버튼 */
.main_header .btn_container {
  flex: 3 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.main_header .btn_container .btn_inner {
  padding: 12px 22px;
  border-radius: 50px;
  background-color: #35af60;
}
.main_header .btn_container .btn_inner .btn_tit {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
}
.main_header .btn_container .btn_inner .btn_img {
  vertical-align: bottom;
  padding-left: 4px;
}

/* intro */
.intro {
  width: 100%;
}
.intro .intro_container {
  margin: 0 160px 160px 160px;
}
.intro .intro_tit {
  font-size: 110px;
  line-height: 118px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 60px;
}
/* overview */
.intro .ov_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.intro .ov_container .ov_tit {
  width: 20%;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-right: 100px;
}

.intro .ov_container .ov_detail {
  width: 80%;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 1px;
  color: #fff;
}
.intro .ov_container .ov_detail span {
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}
/* intro > arrow */
.intro .arrow_container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 86px;
}
.intro .arrow_container .arrow_inner {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.4);
}
.intro .arrow_container .arrow_inner .arrow_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}

/* about */
.about {
  padding: 0 160px 0 160px;
}
.about .about_container {
  margin-bottom: 160px;
}
.about .about_container .about_tit {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  color: #fff;
  padding: 100px 0;
}

.about .about_container .about_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
/* about text box */
.about .about_container .text_box {
  width: 49%;
}
.about .about_container .text_box .about_big_tit {
  font-size: 72px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}
.about .about_container .about_detail {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
  padding-right: 80px;
}

.about .about_container .text_box .icon_box a {
  padding-right: 16px;
}
/* about image box */
.about .about_container .img_box {
  width: 700px;
  height: 460px;
  margin-right: 40px;
  background-color: #ddd;
}
.about .about_container .img_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about info */

.about .about_container .about_info {
}

.about .about_container .about_info .about_column {
  display: flex;
  margin-bottom: 40px;
}
.about .about_container .about_info .about_column .about_row .about_info_tit {
}
.about .about_container .about_info .about_column .about_row {
  width: 50%;
  padding: 10px;
}

/* about info text */
.about_info_tit {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ddd;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.about_info_detail {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 28px;
  color: #fff;
}
/* Skill */
.skill {
  padding: 0 160px 0 160px;
}
.skill .skill_container {
  margin-bottom: 160px;
}
.skill .skill_container .skill_tit {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 100px 0;
}
.skill .skill_container .skill_column .skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  padding: 0 0 0 80px;
}

.skill .skill_container .skill_column .skills .skill_object {
  display: flex;
  flex-wrap: wrap;
  width: 33.3333%;
}
.skill .skill_container .skill_column .skills .skill_object .skill_title_group {
  margin-left: 40px;
}
.skill
  .skill_container
  .skill_column
  .skills
  .skill_object
  .skill_title_group
  h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 8px;
}

/* project */
.project {
  padding: 0 160px 0 160px;
}
.project .project_container {
  margin-bottom: 160px;
}
.project .project_container .project_tit {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 100px 0;
}
.project .project_container .project_column .projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
.project .project_container .project_column .projects .project_object {
  width: 31.1111%;
  height: 315px;
  margin-right: 3.3333%;
  border-radius: 20px;
}
.project .project_container .project_column .projects .project_object img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.project .project_container .project_column .projects #project_object_01_3 {
  margin-right: 0;
}
/* Contact */
.contact {
  padding: 0 160px 160px 160px;
  height: 960px;
}
.contact .contact_container {
}
.contact .contact_container .contact_tit {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 100px 0;
}

.contact .contact_container .contact_info .contact_big_tit {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.contact .contact_container .contact_info .contact_detail {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.contact #contact_form {
  position: relative;
}
.contact #contact_form .contanct_form_cont {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 600px;
}
.contact #contact_form .user_input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
}
.contact #contact_form .message_input {
  display: block;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
}
.contact #contact_form .message_input:last-of-type {
  margin-bottom: 40px;
}
.contact .contact_container .btn_white {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
  padding: 12px 22px;
  border-radius: 50px;
  background-color: #35af60;
  margin-bottom: 160px;
}

@media (max-width: 1280px) {
  .main_header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .main_header .logo_container .logo_tit {
    font-size: 28px;
  }
  .main_header .logo_container .logo_img {
    width: 36px;
  }
  .main_header .btn_container .btn_inner {
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }
  .main_header .btn_container .btn_inner .btn_tit {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
  }
  .main_header .btn_container .btn_inner .btn_img {
    vertical-align: bottom;
    padding-left: 4px;
  }
  /* intro */
  .intro .intro_tit {
    font-size: 100px;
  }
  .intro .ov_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .intro .ov_container .ov_tit {
    font-size: 16px;
  }
  .intro .ov_container .ov_detail {
    font-size: 14px;
  }
  /* intro > arrow */
  .intro .arrow_container {
    margin-top: 100px;
  }

  /* about */
  .about {
    padding: 0 100px 0 100px;
  }
  .about .about_container {
    margin-bottom: 100px;
  }
  /* about text box */
  .about .about_container .text_box .about_big_tit {
    font-size: 60px;
  }
  .about .about_container .about_detail {
    font-size: 14px;
  }

  /* about image box */
  .about .about_container .img_box {
    width: 600px;
    height: 420px;
    margin-right: 40px;
    background-color: #ddd;
  }

  /* about info */
  /* about info text */
  .about_info_tit {
    font-size: 20px;
  }
  .about_info_detail {
    font-size: 14px;
    line-height: 26px;
  }

  /* Skill */
  .skill {
    padding: 0 100px 0 100px;
  }
  .skill .skill_container {
    margin-bottom: 100px;
  }
  .skill .skill_container .skill_column .skills {
    padding: 0;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group
    h4 {
    font-size: 18px;
    letter-spacing: 0.2px;
  }
  .skill .skill_container .skill_column .skills .skill_object > img {
    width: 70px;
  }
  /* project */
  .project {
    padding: 0 100px 0 100px;
  }
  .project .project_container {
    margin-bottom: 100px;
  }
  .project .project_container .project_column .projects .project_object {
    height: 260px;
  }

  /* Contact */
  .contact {
    padding: 0 100px 100px 100px;
  }
  .contact .contact_container .contact_info .contact_big_tit {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .contact .contact_container .contact_info .contact_detail {
    font-size: 20px;
    font-weight: normal;
  }
  .contact #contact_form .user_input {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .contact #contact_form .message_input {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .contact .contact_container .btn_white {
    font-size: 16px;
    padding: 14px 24px;
  }
}
@media (max-width: 768px) {
  .main_header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .main_header .logo_container .logo_tit {
    font-size: 24px;
  }
  .main_header .logo_container .logo_img {
    width: 32px;
    margin-right: 60px;
  }
  .main_header .btn_container .btn_inner {
    display: flex;
    align-items: center;
    padding: 8px 14px;
  }

  .main_header .top_menu .menu_list {
    padding-right: 40px;
  }
  .main_header .top_menu .menu_list a {
    font-size: 14px;
  }
  .main_header .btn_container .btn_inner .btn_tit {
    font-size: 14px;
  }
  .main_header .btn_container .btn_inner .btn_img {
    width: 22px;
  }
  /* intro */
  .intro .intro_tit {
    font-size: 80px;
    line-height: 1.2;
  }
  .intro .intro_container {
    margin: 0 160px 60px 160px;
  }
  .intro .ov_container {
    display: flex;
    justify-content: center;
  }
  .intro .ov_container .ov_tit {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .intro .ov_container .ov_detail {
    font-size: 14px;
    width: 100%;
  }
  /* intro > arrow */
  .intro .arrow_container {
    margin-top: 100px;
  }
  /* about */
  .about {
    padding: 0 20px 0 20px;
  }
  .about .about_container {
    margin-bottom: 60px;
  }
  .about .about_container .about_tit {
    font-size: 16px;
    padding: 80px 0 80px 0;
  }
  /* about text box */
  .about .about_container .text_box {
    width: 60%;
  }
  .about .about_container .text_box .about_big_tit {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .about .about_container .text_box .about_detail {
    padding-right: 40px;
    margin-bottom: 20px;
  }

  /* about image box */
  .about .about_container .img_box {
    width: 420px;
    height: 460px;
    margin-right: 0px;
    background-color: #ddd;
  }

  /* about info */
  /* about info text */
  .about_info_tit {
    font-size: 16px;
  }
  .about_info_detail {
    width: 90%;
    font-size: 14px;
    line-height: 24px;
  }

  /* Skill */
  .skill {
    padding: 0 20px 0 20px;
  }
  .skill .skill_container {
    margin-bottom: 60px;
  }
  .skill .skill_container .skill_tit {
    font-size: 16px;
    padding: 80px 0 80px 0;
  }

  .skill .skill_container .skill_column .skills .skill_object > img {
    width: 48px;
    height: 48px;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group {
    margin-left: 16px;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group
    .skill_star_group
    > img {
    width: 18px;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group
    h4 {
    font-size: 16px;
    padding-bottom: 4px;
  }

  /* project */
  .project {
    padding: 0 20px 0 20px;
  }
  .project .project_container {
    margin-bottom: 60px;
  }
  .project .project_container .project_column .projects {
    margin-bottom: 20px;
  }
  .project .project_container .project_column .projects .project_object {
    height: 180px;
  }

  /* Contact */
  .contact {
    padding: 0 20px 20px 20px;
  }
  .contact .contact_container .contact_info .contact_big_tit {
    font-size: 48px;
  }
  .contact .contact_container .contact_info .contact_detail {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .main_header {
    padding: 0 20px 0 20px;
  }
  .main_header .logo_container .logo_tit {
    font-size: 18px;
  }
  .main_header .logo_container .logo_img {
    width: 24px;
    padding-left: 6px;
  }

  .main_header .top_menu .menu_list {
    padding: 0;
  }
  .main_header .top_menu .menu_list a {
    font-size: 14px;
    margin-right: 10px;
  }
  .main_header .btn_container {
    flex: 3 0 0;
    margin-right: 50px;
  }
  .main_header .btn_container {
    display: none;
  }

  /* intro */
  .intro .intro_tit {
    font-size: 60px;
    line-height: 1.2;
  }
  .intro .intro_container {
    margin: 0 20px 0 20px;
  }
  .intro .ov_container {
    display: flex;
    justify-content: center;
  }
  .intro .ov_container .ov_tit {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .intro .ov_container .ov_detail {
    font-size: 14px;
    width: 100%;
  }
  /* intro > arrow */
  .intro .arrow_container {
    margin-top: 100px;
  }
  /* about */
  .about {
    padding: 0 20px 0 20px;
  }
  .about .about_container {
    margin-bottom: 60px;
  }
  .about .about_container .about_tit {
    font-size: 16px;
    padding: 80px 0 80px 0;
  }
  /* about text box */
  .about .about_container .text_box {
    display: block;
    width: 60%;
  }
  .about .about_container .text_box .about_big_tit {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .about .about_container .text_box .about_detail {
    font-size: 12px;
    line-height: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  /* about image box */
  .about .about_container .img_box {
    width: 200px;
    height: 300px;
  }

  /* about info */
  /* about info text */
  .about_info_tit {
    font-size: 16px;
  }
  .about_info_detail {
    width: 90%;
    font-size: 12px;
    line-height: 20;
    line-height: 24px;
    background-color: s;
  }

  /* Skill */
  .skill {
    padding: 0 20px 0 20px;
  }
  .skill .skill_container {
    margin-bottom: 60px;
  }
  .skill .skill_container .skill_tit {
    font-size: 16px;
    padding: 80px 0 80px 0;
  }

  .skill .skill_container .skill_column .skills .skill_object > img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group {
    margin-left: 0;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group
    .skill_star_group
    > img {
    width: 18px;
  }
  .skill
    .skill_container
    .skill_column
    .skills
    .skill_object
    .skill_title_group
    h4 {
    font-size: 14px;
    padding-bottom: 4px;
  }

  /* project */
  .project {
    padding: 0 20px 0 20px;
  }
  .project .project_container {
    margin-bottom: 60px;
  }
  .project .project_container .project_column .projects {
    margin-bottom: 20px;
  }
  .project .project_container .project_column .projects .project_object {
    height: 120px;
  }

  /* Contact */
  .contact {
    padding: 0 20px 20px 20px;
  }
  .contact .contact_container .contact_tit {
    font-size: 16px;
  }
  .contact .contact_container .contact_info .contact_big_tit {
    font-size: 32px;
  }
  .contact .contact_container .contact_info .contact_detail {
    font-size: 14px;
  }
  .contact #contact_form {
    position: relative;
  }
  .contact #contact_form .contanct_form_cont {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
  }
  .contact #contact_form .user_input {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 14px;
  }
  .contact #contact_form .message_input {
    width: 100%;
    height: 200px;
    padding: 8px;
    font-size: 14px;
  }
  .contact .contact_container .btn_white {
    font-size: 14px;
  }
}
